<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <title>Poezio</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../normalize.css" />
    <link rel="stylesheet" href="../skeleton.css" />
    <style type="text/css">
body {
  background: url("../img/bg.png") repeat;
  color: #B8B8B8;
}
#main {
  border-left: 2px solid #e18a00;
  border-right: 2px solid #e18a00;
  padding: 15px;
  background-color: #0A0A0A;
}

h3 {
    text-decoration: bold;
}

.block {
    border-top: 2px dashed #e18a00;
    padding-top: 15px;
    padding-bottom: 15px;
}

code {
    color: black;
}

a:link, a:visited{
    color: #e18a00;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.button, .button-primary {
    background-color: #e18a00 !important;
      border-color: #e18a00 !important;
}

dl, dt, dd { display: inline; }
.container {
  width: 100%;
}
.navbar-list {
  list-style: none;
  margin: auto;
}
.navbar-item {
  position: relative;
  float: left;

}

.navbar-link {
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 6.5rem;
  font-weight: 600;
  margin-right: 35px;
  text-decoration: none;
}

    </style>

  </head>
  <body>
    <div class="container" id="main">
      <header class="header rows container">
        <div class="three columns"><img src="../img/logo.svg" alt='{{ logo }}' class="u-max-full-width" /></div>
        <div class="nine columns">
            <h2 class="title">Poezio - paroli libere</h2>
            <a class="button button-primary" href='https://codeberg.org/poezio/poezio/archive/v0.14.tar.gz'>{% block dl %}{% endblock %}</a>
        </div>
      </header>
          <div class="navbar-spacer"></div>
          <nav class="navbar">
            <div class="container">
              <ul class="navbar-list">
                  <li class="navbar-item"><a class="navbar-link" href="#download">{{ download }}</a></li>
                  <li class="navbar-item"><a class="navbar-link" href="#news">{{ news }}</a></li>
                  <li class="navbar-item"><a class="navbar-link" href="#docs">{{ docs }}</a></li>
                  <li class="navbar-item"><a class="navbar-link" href="#support">{{ support }}</a></li>
                  <li class="navbar-item"><a class="navbar-link" href="#faq">{{ faq }}</a></li>
              </ul>
            </div>
          </nav>
      <section class="block">
        {% block about %}
        <h3 id="about">{{ about }}</h3>
        {% endblock %}
        <a href="../img/screenshot.png"><img src="../img/screenshot.png" class="u-max-full-width" alt="Poezio 0.6 screenshot" title="Poezio 0.6 screenshot" /></a>
      </section>
      <section class="block">
        {% block download %}
        <h3 id="download">{{ download }}</h3>
        {% endblock %}
      </section>
      <section class="block">
        {% block news%}
        <h3 id="news">{{ news }}</h3>
        {% endblock %}
      </section>
      <section class="block">
        {% block docs %}
        <h3 id="docs">{{ docs }}</h3>
        {% endblock %}
      </section>

      <section class="block">
        {% block support %}
        <h3 id="support">{{ support }}</h3>
        <h4 id="contact">{{ contact }}</h4>
        {% block contact %}{% endblock %}
        <h4 id="bugs">{{ bugs }}</h4>
        {% block bugs %}{% endblock %}
        {% endblock %}
      </section>
      <section class="block">
        {% block faq %}
        <h3 id="faq">{{ faq }}</h3>
        {% endblock %}
      </section>
      <div style="width:200px;margin:auto;text-align:center">
          {% block trans %}
          {% endblock %}
          <a style="margin:auto;width:30px;" href='http://xmpp.org' title='The XMPP Standards Foundation'><img alt='xmpp logo' src='../img/xmpp.png' /></a>
     </div>
    </div>

  </body>
</html>
