{% extends "base.html" %}
{% block dl %}Download latest (0.14){% endblock %}
{% block about %}
{{ super() }}
    <p>
    Poezio is a free console <a href="https://xmpp.org/">XMPP</a> client
    (the protocol on which the Jabber IM network is built).
    </p>
    <p>
    Its goal is to let you connect very easily (no account creation
    needed) to the network and join various chatrooms, immediately. It tries
    to look like the most famous IRC clients (weechat, irssi, etc). Many
    commands are identical and you won't be lost if you already know these
    clients. Configuration can be made in a configuration file or directly
    from the client.
    </p>
    <p>
    You'll find the light, fast, geeky and anonymous spirit of IRC while using
    a powerful, standard and open protocol.
    </p>
<h4>Features</h4>
<div class="container">
<div class="three columns"><strong>Encryption</strong>: <p>TLS, OMEMO, always chat with encryption.</p></div>
<div class="three columns"><strong>Chatrooms</strong><p>Discuss on your favorite topics with your friends or strangers.</p></div>
<div class="three columns"><strong>Carbon copies</strong>: <p>Switch devices while staying in the same conversations without losing messages.</p></div>
<div class="three columns"><strong>Plugins</strong>: <p>Add the features you want through official or other plugins.</p></div>
</div>
<div class="container">
<div class="three columns"><strong>Corrections</strong>: <p>Fix your last sent messages.</p></div>
<div class="three columns"><strong>Rich text</strong>: <p>Send and receive messages with colors and formatting.</p></div>
<div class="three columns"><strong>Chat state notifications</strong>: <p>See the writing status of your contacts.</p></div>
<div class="three columns"><strong>Anonymous</strong>: <p>Use XMPP without an account.</p></div>
</div>
{% endblock %}
{% block download %}
{{ super() }}
    <h5>The development version is <em>recommended</em>.</h5>
    <p>
    First install <strong>python 3.7</strong> or above (and the -devel
    package associated with it), <strong>git</strong>, then enter the following in your console:
    </p>
    <p>
    <code>git clone https://codeberg.org/poezio/poezio.git<br/>
      cd poezio<br/>
      ./update.sh<br/>
      ./launch.sh
    </code>
    </p>
    <p>
    Then, you can use <code>./update.sh</code> to update the sources
    <em>and</em> the dependencies, from time to time, if you want to
    test the new features, and be able to report bugs to us.
    </p>
    <p>
    Alternatively, here are the more conventional downloads; follow the
    documentation in order to install poezio:
    <ul>
      <li>
        <a href="https://doc.poez.io/install.html#poezio-in-the-gnu-linux-distributions">From distribution software repositories</a>
      </li>
      <li>
        <a href="https://doc.poez.io/install.html#install-from-source">From source</a>
      </li>
      <li>
        <a href="https://doc.poez.io/install.html#docker-images">Using Docker</a>
      </li>
    </ul>
    </p>
    <p>
    Latest version: <a href='https://codeberg.org/poezio/poezio/archive/v0.14.tar.gz'>poezio 0.14</a>.
    <br/>sha256sum: 484d286190a66e79856533a51c428a2dada769b4d67e5ad471b0541dbdfb04c0</p>
{% endblock %}

{% block news %}
{{ super() }}
    <p>
    <strong>July 6th 2023</strong>:<br/>
    Poezio and slixmpp have moved from gitlab to <a href="https://codeberg.org/poezio/poezio">codeberg</a> for hosting.
    </p>
    <p>
    <strong>April 10st 2022</strong>:<br/>
    Poezio 0.14 has been released, it includes a lot of improvements,
    see <a href='https://bouah.net/2022/04/updates-from-the-poezio-ecosystem/'>pep.’s blog</a>
    for more details.
    </p>
    <p>
    <strong>May 31st 2020</strong>:<br/>
    Poezio 0.13.1 has been released, fixing some bugs left in 0.13.
    </p>
    <p>
    <strong>May 24th 2020</strong>:<br/>
    Poezio 0.13 has been released, with many improvements and bugfixes.
    </p>
    <p>
    <strong>August 24th 2018</strong>:<br/>
    The forge used by both poezio and slixmpp has migrated from redmine to <a href='https://dev.poez.io'>gitlab</a>.
    </p>
    <p>
    <strong>September 12th 2018</strong>:<br/>
    Poezio 0.12.1 has been released. It fixes compatibility with Python 3.5 in
    debian stable.
    </p>
    <p>
    <strong>August 13th 2018</strong>:<br/>
    Poezio 0.12 has been released, with many improvements and bugfixes.
    </p>
    <p>
    <strong>January 31 2017</strong>:<br/>
    Poezio 0.11 has been released. It fixes CVE-2017-5591.
    </p>
    <p>
    <strong>October 9th 2016</strong>:<br />
    Poezio 0.10 has been released, and includes a lot of improvements,
    see <a href="https://blog.mathieui.net/poezio-0-10.html">mathieui’s blog</a>
    or the <a href="https://dev.poez.io/blob/eefc126a0b0bc25af283c9e4aef56225d3b87a58/CHANGELOG">changelog file</a>
    for more details.
    </p>
    <p>
    <strong>July 31th 2015</strong>:<br />
    Poezio 0.9 has been released. It now uses slixmpp, and includes a
    lot of other improvements, see
    <a href="https://blog.mathieui.net/poezio-0-9.html">mathieui’s blog</a>
    or the <a href="http://git.louiz.org/poezio/tree/CHANGELOG?id=682074303330254ae1a349a7f3a337122de4fe30#n8">changelog file</a>
    for more details.
    </p>
    <p>
    <strong>March 20th 2014</strong>:<br />
    Poezio 0.8.1 has been released. It fixes the build with python 3.4,
    there are no other changes.
    </p>
    <p>
    <strong>Feb 22th 2014</strong>:<br />
    Poezio 0.8 has been released. Please update your packages according
    to the documentation.
    </p>
    <p>
    <strong>August 8th 2012</strong>:<br />
    Poezio 0.7.5.2 has been released. It’s just a maintainance release
    to synchronize poezio’s and SleekXMPP’s version.
    </p>
    <p>
    <strong>May 25th 2012</strong>:<br />
    Poezio 0.7.5 has been released.
    </p>
    <p>
    <strong>Oct 17th 2011</strong>:<br />
    Poezio is now using git. Please update your package, sources, scripts, etc.
    <br />If your are using the mercurial version, with the method
    described on the download page (and you should be), please redo the
    complete instructions, or you won’t be able to update the sources by
    keeping only the mercurial repository
    </p>
{% endblock %}
{% block docs %}
{{ super() }}
    <p>
    Documentation for the git version is available at
    <a href="https://doc.poez.io">doc.poez.io</a>.
    </p>
    <p>
    Documentation for releases is also available:
    <a href="https://doc.poez.io/0.11/">0.11</a>, <a href="https://doc.poez.io/0.10/">0.10</a>,
    <a href="https://doc.poez.io/0.9/">0.9</a>, <a href="https://doc.poez.io/0.8/">0.8</a>.
    </p>
{% endblock %}

{% block contact %}
    <p>
    To contact us, you can join the jabber chat-room at
    <a href='xmpp:poezio@muc.poez.io?join'>poezio@muc.poez.io</a>.
    </p>
    <p>We understand English and French.</p>
{% endblock %}
{% block bugs %}
    <p>The bug tracker is located at <a href="https://codeberg.org/poezio/poezio/issues/new">codeberg.org/poezio/poezio</a>.</p>
{% endblock %}

{% block faq %}
{{ super() }}
    <strong>I've tested poezio but I don't like it, what can I do?</strong>
    <ul>
      <li>
        Explain what you don't like, <a href="#contact">on the XMPP chatroom</a>
        or <a href="https://dev.poez.io/issues/new">on the bugtracker</a>.
      </li>
      <li>
        Try an other client that you could like:
        <ul>
          <li>
            <a href='https://mcabber.com/'>Mcabber</a>. A console client that
            does not handle anonymous authentication, but handles the roster and the MultiUserChat.
          </li>
          <li>
            <a href="http://profanity.im/">Profanity</a>. A console client started around the same time as poezio.</li>
          <li>
            <a href='https://www.weechat.org/'>Weechat</a>. An IRC client,
            but it can handle XMPP thanks to a plugin (does not handle
            anonymous authentication nor chatrooms for now).
          </li>
          <li>Primitivus, the console part of the <a href="https://salut-a-toi.org">Salut À Toi</a> project.</li>
          <li><a href='https://www.gnu.org/software/freetalk/'>Freetalk</a>, a literal command-line client</li>
          <li><a href='https://wiki.jabberfr.org/Clients'>Other clients</a>, not necessarily console-based.</li>
        </ul>
      </li>
    </ul>

    <strong>Why is poezio released under the zlib licence, why did you choose to switch from GPLv3?</strong>
    <ul>
      <li>
        Even if poezio is clearly a free (as in freedom) software, and
        not just open source, we don’t want to forbid the reuse of part
        of its code in any other free software. GPL is incompatible with
        a lot of licenses and that forbids a lot of collaboration between
        different free softwares. The zlib license, however, lets the code
        be reused in almost anything, avoiding all the burdens of licensing
        issues.
        <p>
        Of course that also means that poezio can also be redistributed without
        the sources, but we trust users to value their freedom and avoid any such version.
        </p>
      </li>
    </ul>
    <strong>What does “poezio” mean?</strong>
    <ul>
      <li>
        It’s “poetry” in Esperanto.  And the reason why we named Poezio
        like this, is because a lot of softwares/library/documentation/protocol
        elements are named after things from literature.  For example
        <a href="https://en.wikipedia.org/wiki/Prosody_%28linguistics%29">Prosody</a>,
        <a href="https://en.wiktionary.org/wiki/stanza#Noun">stanza</a>,
        all the <a href="http://xmpp.org/extensions/xep-0022.html#sect-idp1550928">references to Romeo and Juliet</a>
        in the various XEPs.
      </li>
    </ul>
{% endblock %}

{% block trans %}
<p>english, <a href="../fr/" rel="alternate">français</a></p>
{% endblock %}
