{% extends "base.html" %}
{% block dl %}Télécharger (0.14){% endblock %}
{% block about %}
{{ super() }}
<p>
Poezio est un client libre, en console, pour <a href='https://xmpp.org'>XMPP</a>
(protocole sur lequel est construit le réseau de messagerie instantanée
<a href='https://jabberfr.org'>Jabber</a>).
</p>
<p>
Il a pour but de vous permettre de vous connecter très simplement
(sans création de compte) au réseau et de rejoindre divers salons,
immédiatement. Son utilisation tente de se rapprocher de celle des
clients IRC les plus populaires (weechat, irssi, etc). Ainsi, de
nombreuses commandes sont identiques à ces derniers, et la configuration
se fait dans un fichier texte ou directement depuis le client.
</p>
<p>
Vous retrouvez ainsi, le côté geek, rapide, léger et
«&#x202F;anonyme&#x202F;» d’IRC tout en utilisant un
protocole extensible, puissant, standard et ouvert.
</p>

<h4>Fonctionnalités</h4>
<div class="container">
<div class="three columns"><strong>Chiffrement</strong>: <p>TLS, OMEMO, communiquez en toute sécurité.</p></div>
<div class="three columns"><strong>Salons de discussion</strong><p>Discutez à plusieurs de vos sujets favoris.</p></div>
<div class="three columns"><strong>Copies carbones</strong>: <p>Poursuivez des conversations commencées sur mobile sans perdre de messages.</p></div>
<div class="three columns"><strong>Plugins</strong>: <p>Ajoutez les fonctionnalités que vous voulez.</p></div>
</div>
<div class="container">
<div class="three columns"><strong>Corrections</strong>: <p>Corrigez votre dernier message.</p></div>
<div class="three columns"><strong>Texte riche</strong>: <p>Envoyez et recevez des messages avec formatage et couleurs.</p></div>
<div class="three columns"><strong>Notifications d’écriture</strong>: <p>Voyez le statut d’écriture de vos correspondants.</p></div>
<div class="three columns"><strong>Anonymat</strong>: <p>Connectez-vous sans avoir de compte.</p></div>
</div>
{% endblock %}
{% block download %}
{{ super() }}
    <h5>La version de développement est <em>recommandée</em>.</h5>
    <p>
    Installez tout d’abord <strong>python 3.7</strong> ou supérieur
    (et le paquet -devel qui va avec) et <strong>git</strong> depuis
    les dépôts de votre distribution, puis entrez ces commandes dans
    un terminal :
    </p>
    <p>
    <code>git clone https://codeberg.org/poezio/poezio.git<br/>
        cd poezio<br/>
        ./update.sh<br/>
        ./launch.sh
    </code>
    </p>
    <p>
    Vous pourrez par la suite utiliser <code>./update.sh</code> afin de
    mettre à jour les sources <em>et</em> les dépendances, de temps en
    temps, si vous souhaitez tester les nouvelles fonctionnalités et
    pouvoir nous faire des rapports de bugs les plus utiles possibles.
    </p>
    <p>
    Sinon, voici la documentation en anglais pour installer poezio :
    </p>
    <ul>
        <li>
            <a href="https://doc.poez.io/install.html#poezio-in-the-gnu-linux-distributions">Depuis les dépôts</a>
        </li>
        <li>
            <a href="https://doc.poez.io/install.html#install-from-source">Depuis les sources</a>
        </li>
        <li>
            <a href="https://doc.poez.io/install.html#docker-images">En utilisant docker</a>
        </li>
    </ul>
    <p>
    Dernière version : <a href='https://codeberg.org/poezio/poezio/archive/v0.14.tar.gz'>poezio 0.14</a>.
    <br/>sha256sum : 484d286190a66e79856533a51c428a2dada769b4d67e5ad471b0541dbdfb04c0</p>
{% endblock %}

{% block news %}
{{ super() }}
<strong>6 Juillet 2023</strong>:<br/>
La forge utilisée par poezio et slixmpp a été changée pour <a href='https://codeberg.org/poezio/poezio'>Codeberg</a>.
</p>
<p>
<strong>10 Avril 2022</strong>:<br/>
Poezio 0.14 est sortie, elle inclut de nombreuses améliorations,
voir <a href='https://bouah.net/2022/04/updates-from-the-poezio-ecosystem/'>l’article sur le blog de pep.</a>
pour plus de détails.
</p>
<p>
<strong>31 Mai 2020</strong>:<br/>
Poezio 0.13.1 est sortie. Elle corrige quelques bugs introduits dans la 0.13.
</p>
<p>
<strong>24 Mai 2020</strong>:<br/>
Poezio 0.13 est sortie.
</p>
<p>
<strong>24 Août 2018</strong>:<br/>
La forge utilisée par poezio et slixmpp a migré de redmine vers <a href='https://dev.poez.io'>gitlab</a>.
</p>
<p>
<strong>12 Septembre 2018</strong>:<br/>
Poezio 0.12.1 est sortie. Elle corrige des incompatilibités avec Python 3.5.
</p>
<p>
<strong>13 Août 2018</strong>:<br/>
Poezio 0.12 est sortie.
</p>
<p>
<strong>31 Janvier 2017</strong>:<br/>
Poezio 0.11 est sortie. Elle corrige CVE-2017-5591.
</p>
<p>
<strong>9 Octobre 2016</strong>:<br/>
Poezio 0.10 est sortie. Cette version inclut de nombreuses
améliorations. Lisez <a href="https://blog.mathieui.net/poezio-0-10-fr.html">le
    post de mathieui sur son blog</a> ou le
<a href="https://dev.poez.io/blob/eefc126a0b0bc25af283c9e4aef56225d3b87a58/CHANGELOG">fichier
    de changelog</a> pour plus de détails.
</p>
<p>
<strong>31 Juillet 2015</strong>:<br/>
Poezio 0.9 est sortie. Cette version inclut de nombreuses améliorations,
et est la première à utiliser slixmpp. Lisez <a href="https://blog.mathieui.net/poezio-0-9-fr.html">le
    post de mathieui sur son blog</a> ou le
<a href="https://git.louiz.org/poezio/tree/CHANGELOG?id=682074303330254ae1a349a7f3a337122de4fe30#n8">fichier de changelog</a>
pour plus de détails.
</p>
<p>
<strong>20 mars 2014</strong>:<br/>
Poezio 0.8.1 est sortie. Cette version corrige juste le build avec python 3.4.
</p>
<p>
<strong>22 février 2014</strong>:<br/>
Poezio 0.8 est sortie.
</p>
<p>
<strong>8 août 2012</strong>:<br/>
Poezio 0.7.5.2 est sortie. C’est juste une version de maintenance pour synchroniser poezio et SleekXMPP.
</p>
<p>
<strong>25 mai 2012</strong>:<br/>
Poezio 0.7.5 est sortie.
</p>
<p>
<strong>17 Oct 2011</strong> :<br/>
Poezio utilise dorénavant git. Veuillez mettre à jour vos paquets,
sources et autre scripts. Si vous utilisez la version mercurial en
ayant suivi les instructions sur la page de téléchargement, veuillez
suivre les instructions à nouveau, ou vous ne serez plus capable de
mettre poezio à jour si vous ne gardez que la version mercurial.
</p>
{% endblock %}
{% block docs %}
{{ super() }}
<p>
La documentation est disponible seulement en anglais.
Vous trouverez la documentation pour la version git sur
<a href="https://doc.poez.io">doc.poez.io</a>.
</p>
<p>
La documentation des version est ici :
<a href="https://doc.poez.io/0.11/">0.11</a>, <a href="https://doc.poez.io/0.10/">0.10</a>,
<a href="https://doc.poez.io/0.9/">0.9</a>, <a href="https://doc.poez.io/0.8/">0.8</a>.
</p>
{% endblock %}

{% block contact %}
<p>
Pour nous contacter, vous pouvez vous rendre sur le salon
<a href='xmpp:poezio@muc.poez.io?join'>poezio@muc.poez.io</a>.
</p>
<p>On comprend l'anglais et le français.</p>
{% endblock %}
{% block bugs %}
<p>Le bug tracker est sur <a href="https://dev.poez.io/issues">dev.poez.io</a>.</p>
{% endblock %}

{% block faq %}
{{ super() }}
<strong>J'ai testé poezio, et je ne l'aime pas, que faire ?</strong>
<ul>
    <li>Expliquer ce que vous n'aimez pas, sur <a href="#contact">le salon de discussion XMPP</a> ou <a href="https://dev.poez.io/issues/new">sur le bug tracker</a>.</li>
    <li>Essayer un autre client qui répondra peut-être à vos attentes :
        <ul>
            <li><a href='https://mcabber.com/'>Mcabber</a>. Client en console qui ne gère pas les connexions anonymes mais gère le roster et les salons de discussion.<br /></li>
            <li><a href="http://profanity.im">Profanity</a>. Un autre client en console.
                <li><a href='https://www.weechat.org/'>Weechat</a>. Un client IRC, à la base, mais qui permet d'utiliser le protocole XMPP grâce à une extension (ne gère pas les salons de discussion ni les connexions anonymes pour l'instant).</li>
                <li>Primitivus, le frontend console de <a href="https://salut-a-toi.org">Salut À Toi</a></li>
                <li><a href='https://www.gnu.org/software/freetalk/'>Freetalk</a></li>
                <li><a href='https://wiki.jabberfr.org/Clients'>D'autres clients</a>, pas forcément en console.</li>
        </ul>
            </li>
</ul>
<strong>Pourquoi poezio est-il publié sous licence zlib, et pourquoi avoir abandonné la GPLv3 ?</strong>
<ul>
    <li>
        Même si poezio est clairement un logiciel libre et pas seulement open source, nous ne souhaitons pas interdire la réutilisation de son code dans un autre logiciel libre. La GPL est incompatible avec de nombreuses licences libres, et ceci empêche souvent la collaboration entre certains logiciels libres. La licence zlib, quant à elle, autorise la réutilisation du code dans à peu près n’importe quel projet, évitant ainsi tous les problèmes de licence.<br />
        Bien sûr, cela veut aussi dire que poezio peut être distribué de façon non-libre, mais nous avons confiance en les utilisateurs et nous pensons qu’ils apprécient assez leurs liberté pour éviter de telles versions.
    </li>
</ul>
<strong>Que signifie « poezio » ?</strong>
<ul>
    <li>
        Cela veut dire “poésie” en Espéranto.  Et poezio s’appelle ainsi en hommage à tous les logiciels/bibliothèques/protocoles du monde XMPP qui utilise des termes issues de la littérature. Par exemple <a href="https://fr.wikipedia.org/wiki/Prosodie">Prosody</a>, <a href="https://en.wiktionary.org/wiki/stanza#Noun">stanza</a>, toutes les références à <a href="https://xmpp.org/extensions/xep-0022.html#sect-idp1550928">Roméo et Juliette</a> dans la plupart des XEP, etc.
    </li>
</ul>
{% endblock %}
{% block trans %}
<p><a href="../en/">english</a>, français</p>
{% endblock %}
